@charset "UTF-8";
@import url("about.css");
/* CSS Document */

body{
	background-image: url(images/Background.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: scroll; /* The value 'scroll' allows the scale of the background image to remain intact. The only other value that works for background attachment is 'fixed;' which, if I used it, would scale the image to the full browser width. Weird, but true. */
	background-size: cover; /* The value 'cover' along with the 'scroll' value above help keep the proportions (a.k.a. aspect ratio) intact. Yay! */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	float: left;
	color: #0C2048;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
} /*closes body */

#wrap {
	width: 100%;
} /*closes wrap*/

 #Header {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 } /* closes header*/
 
 #banner {
	width: auto;
 } /*closes banner*/
 
 #banner img {
	 max-width: 100%;
	 height:auto;
	 /*scales any image inside banner div*/
 }/* closes banner img*/
 
#main-nav{
	background-color: #D42525;
	width: auto;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	float: none;
	padding-left: 5.25em;
} /*closes main-nav */

#main-nav ul {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: lighter;
	font-size: 1.25em;
	padding-left: .5em;
	overflow-x: hidden;
	overflow-y: hidden;
	line-height: 1.5em;
	text-align: left;
	word-spacing: 1.5em;
} /*closes main-nav ul */

#main-nav li{
	list-style: none;
	display: inline;
	color: #FBFBFB;
	clear: both;
	overflow-x: hidden;
} /*closes main-nav li */

#main-nav li a{
	color: #FBFBFB;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-decoration: none;
} /*closes main-nav li a */

#main-nav li a:hover{
	color: #909090;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-decoration: none;
} /*closes main-nav li a:hover */

#main-nav li a:active{
	color: #93E0B2;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-decoration: none;
} /*closes main-nav li a:active */

 #Content {
	background-color: #D42525;
	opacity: .75;
	width: auto;
	padding-top: 3em;
	padding-right: 4em;
	padding-left: 4em;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 1em;
	position: relative;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding-bottom: 90em;
} /*closes content */

#Welcome {
	float: left;
	margin-left: 2em;
	margin-right: 3em;
	line-height: 1.5em;
	text-align: left;
	color: #0C2048;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-style: normal;
	font-weight: 200;
} /* closes welcome */

#tiedye {
	float: left;
	right: 1em;
	left: 2em;
	padding-right: 2em;
	padding-left: 3em;
	padding-bottom: 1.5em;
} /*closes cat-toast image*/

#Winners {
	float: right;
	width: auto;
	overflow: hidden;
	margin-left: 2em;
	margin-right: 3em;
	line-height: 1.5em;
	text-align: left;
	color: #0C2048;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-style: normal;
	font-weight: 200;
	text-decoration: none;
}/*closes volunteers*/

#dogjump-begal {
	float: right;
	right: 1em;
	left: 2em;
	padding-right: 2em;
	padding-left: 3em;
	padding-bottom: 1.5em;
} /*closes picard image*/

#Spotlight {
	float: left;
	width: auto;
	overflow: hidden;
	margin-left: 2em;
	margin-right: 3em;
	line-height: 1.5em;
	text-align: left;
	color: #0C2048;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-style: normal;
	font-weight: 200;
}/*closes Be-Heard*/

#run {
	float: right;
	right: 1em;
	left: 2em;
	padding-right: 2em;
	padding-left: 3em;
	padding-bottom: 1.5em;
} /*closes take-money*/

@media screen and (max-width: 550px) { 
/* NOTE: MUST include a meta tag in the head tag of the html file for the iPhone/iPod viewport to cooperate with single-column rules below. */ 

#body { 
width: auto; 
}/*closes body*/ 

#wrap { 
position: relative; 
width: auto; 
} /*closes wrap*/

#header {
position: relative;
width:100%;
height:auto;
float: none;
} /* closes header*/

#banner img { 
float: none; 
width: 100%; 
height: auto;
padding-top: .6em; 
padding-bottom: .8em; 
background-image: url( url(images/dotconcom_header.jpg); 
margin-bottom: .5em; 
} /*closes banner*/

#content {
clear: both /*this property used in order for the DIVs to stack in single column in iPhone; if left as 'float: none' content pushes off to the right of the screen*/
width: auto;
-webkit-column-count: 1;
-moz-column-count: 1;
column count: 1;
line-height: 1.75em;
margin: 0;
} /*closes content*/

} /*closes media max 550px width*/

@media screen and (max-width: 400px) { 
#Welcome {
	float: none; 
	margin-bottom: .5em; 
	width: 95%; 
	font-size: 1.25em;
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column count: 1;
	line-height: 1.75em;
	margin: 0;
}/*closes welcome */

#Volunteers {
	float: none; 
	margin-bottom: .5em; 
	width: 95%; 
	font-size: 1.25em; 
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column count: 1;
	line-height: 1.75em;
	margin: 0;
} /*closes volunteers*/

} /*closes media max 400px width*/